body {
  width: 350px;
  padding-top: 15px;
}

.help-block {
  font-size: 0.7rem;
}

@font-face {
  font-family: 'nge-font';
  src: url('fonts/nge-font.eot?qw61uy');
  src: url('fonts/nge-font.eot?qw61uy#iefix') format('embedded-opentype'), url('fonts/nge-font.ttf?qw61uy') format('truetype'), url('fonts/nge-font.woff?qw61uy') format('woff'), url('fonts/nge-font.svg?qw61uy#nge-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'nge-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\f019";
}

.icon-refresh:before {
  content: "\f021";
}

.icon-warning:before {
  content: "\f071";
}

.icon-upload:before {
  content: "\f093";
}

.icon-info:before {
  content: "\f129";
}

.icon-copy:before {
  content: "\e900";
}
